body{
    background-color: #F0FFFF;
}
/* .navbar{
    background-color: #1E90FF;
} */

nav a img{
    width: 70px;
    height: 70px;
}

.row1{
    text-align: center;
}

.row2 .col-md-4 .glyphicon{
    font-size: 25px;
}